@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

@import "tailwindcss";

a.active hr {
    display: block;
}

*{
    font-family: Bebas Neue;
}

.bebas-neue-regular {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton";
  font-weight: 400;
  font-style: normal;
}